torch
git+https://github.com/huggingface/diffusers
transformers
pillow
accelerate
peft
sentencepiece
protobuf
torchao
optimum-quanto
controlnet_aux
mediapipe
git+https://github.com/asomoza/image_gen_aux.git